* {
	background-color: black;
}
#myClock {
	position: absolute;
	top: 50%;
	left: 50%;
	color: aqua;
	font-size: 50px;
	transform: translate(-50%) translate(-50%);
	letter-spacing: 5px;
	font-family: "Lucida Sans";
}